body {
   margin: 0;
   background-color: #BDCDD6;
   text-align: center;
   line-height: 2;
}

h1 {
   color: #146C94;
   font-family: 'Dancing Script', cursive;
   font-size: 4.375rem;
}

h2 {
   font-family: 'Montserrat', sans-serif;
   font-size: 1.7rem;
   color: #19A7CE;
}

header h2 {
   font-family: 'Amatic SC', cursive;
}

header h1, header h2 {
   line-height: 1.5;
}

h3 {
   font-family: 'Montserrat', sans-serif;
   color: #33b5da;
}

p {
   font-family: 'Merriweather', serif;
   color: #4a5d66;
}

hr {
   border-color: #83abb9;
   border-width: 5px;
   border-style: none;
   border-top-style: dotted;
   width: 8%;
}

header {
   background-color: #93BFCF;
   padding-top: 100px;
   position: relative;
   line-height: 0;
}

.first-cloud {
   position: absolute;
   right: 350px;
   top: 60px;
}

.second-cloud {
   position: absolute;
   left: 320px;
   bottom: 300px;
}

header img {
   line-height: 0;
}

.profile {
   width: 40%;
   margin: 70px auto;
}

main img {
   border-radius: 50%;
   box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.747);
}

.skills {
   padding-top: 40px;
   padding-bottom: 10px;
}

.skill-row {
   width: 50%;
   margin: 100px auto;
   text-align: left;
}

.web-dev, .git {
   width: 25%;
   float: left;
   margin-right: 30px;
}

.dotnet {
   width: 25%;
   float: right;
   margin-left: 30px;
}

.contact-me {
   width: 50%;
   margin: 60px auto 100px;
}

.btn {
   display: inline-block;
   text-decoration: none;
   background: linear-gradient(#19A7CE, #146C94);
   color: #ffffff;
   font-family: Arial;
   font-size: 20px;
   border-radius: 10px;
   padding: 5px 20px;
   transition: 200ms;
}
 
.btn:hover {
   opacity: 0.85;
   transform: scale(1.02);
}

footer {
   background-color: #6096B4;
   padding: 60px;
}

footer p {
   color: #F6F1F1;
   font-size: 0.8rem;
}

footer a {
   text-decoration: none;
   font-size: 1.5rem;
   color: #146C94;
   display: inline-block;
   margin: 0 20px 60px;
   
}
 
footer a:hover {
   color: #F6F1F1;
}



